.googlemap {
    height: rhythm(10, 16px);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        height: rhythm(20, 16px);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        height: rhythm(20, 16px);
    }
}