.main {
    display: none;
    @include lob-owl();
    @include span(12 of 12 no-gutters);
    min-height: 100vh;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        display: inline-block;
        position: relative;
        @include span(12 of 18 no-gutters);
        @include suffix(1);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(16 of 24 no-gutters);
    }
}

.home {
    &-one {
        @extend %responsive-trigger;
        &.large {
            position: relative;
            background: url(/images/home1.png) no-repeat;
            height: 622px;
            z-index: 10;
        }
    }
    &-two {
        @extend %responsive-trigger;
        &.large {
            position: relative;
            margin: -15em 0 0 span(9 of 24);
            background: url(/images/home2.png) no-repeat;
            height: 622px;
            z-index: 5;
        }
    }
    &-three {
        @extend %responsive-trigger;
        &.large {
            position: relative;
            margin: -5em 0 0 0;
            background: url(/images/home3.png) no-repeat;
            height: 622px;
            z-index: 7;
        }
    }
}