.telephone {
    @extend %buttons;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(8 of 12);
        margin: rhythm(1, 15px) span(2 of 12) 0;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(12 of 16);
        margin: rhythm(1, 15px) span(2 of 16) 0;
        &:hover {
            @include background-image(linear-gradient(lighten-new($green-base-light, 5%), lighten-new($green-base-dark, 5%)));
        }
    }
}

.contact-form {
    float: left;
}

label {
    @include span(12 of 12);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24);
    }
}

input {
    @include span(12 of 12);
    @include border-radius(.45em);
    border: 1px solid $text-base;
    @include rhythm(0,1,1,0,16px);
    margin-bottom: rhythm(1, 16px);
    padding-left: .5em;
    @include susy-breakpoint($bp-medium, $columns-medium) {
        width: 100%;
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        width: 100%;
    }
    &:hover {
        border: 1px solid darken($text-base-dark, 25%);
        background: $background;
    }
    &:focus {
        border: 1px solid darken($text-base-dark, 25%);
        background: $background;
    }
}

input[type=submit] {
    @extend .telephone;
    @include type-scale(base);
}

textarea {
    @extend input;
}

.call-header {
    float: left;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}

.email-header {
    @extend .call-header;
    margin-top: rhythm(1, 16px);
    margin-bottom: 0;
}