.hero {
    @extend %responsive-trigger;
    @extend %hero;
    //because initial load does not include /index.html, at least locally
    &.-phone {
        background: url(/images/heros/hero-index-phone.jpg) no-repeat;
        background-size: cover;
        height: 150px;
    }
    &.-tablet {
        background: url(/images/heros/hero-index-tablet.jpg) no-repeat;
        background-size: cover;
        height: 400px;
    }
    &.-computer {
        background: url(/images/heros/hero-index-computer.jpg) no-repeat;
        background-size: cover;
        height: 600px;
    }
}

// Inspired by: http://www.matrixgroup.net/snackoclock/2014/10/sass-maps-source-maps/
$pageHeroMap: (
    index: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    about: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    contact-form-thank-you: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    contact: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    locate: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    services: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    tall-trees: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    traditions: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    treecare: (
        small: phone,
        medium: tablet,
        large: computer
    ),
    trees: (
        small: phone,
        medium: tablet,
        large: computer
    )
);

@each $page, $pageProps in $pageHeroMap {
    .hero {
        &.#{$page}-#{map-get($pageProps, small)} {
            background: url(/images/heros/hero-#{$page}-#{map-get($pageProps, small)}.jpg ) no-repeat;
            background-size: cover;
            height: 150px;
        }
        &.#{$page}-#{map-get($pageProps, medium)} {
            background: url(/images/heros/hero-#{$page}-#{map-get($pageProps, medium)}.jpg ) no-repeat;
            background-size: cover;
            height: 400px;
        }
        &.#{$page}-#{map-get($pageProps, large)} {
            background: url(/images/heros/hero-#{$page}-#{map-get($pageProps, large)}.jpg ) no-repeat;
            background-size: cover;
            height: 600px;
        }
    }
}