.mobile-menu.ng-hide-add,
.mobile-menu.ng-hide-remove {
    // http://matthewlein.com/ceaser/
    // @include transition-timing-function(cubic-bezier(0.250, 0.460, 0.450, 0.940) ); //easeOutQuad
    @include transition-timing-function(cubic-bezier(0.390, 0.575, 0.565, 1.000) ); //easeOutSine
    @include transition-duration(.75s);
    left: span(0 of 12);
}
.mobile-menu.ng-hide {
    left: span(-6 of 12);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        left: span(-18 of 18);
    }
}