%responsive-trigger {
    &::after {
        content: "phone";
        display: block;
        position: absolute;
        top: 0px;
        left: -1000px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            content: "computer";
        }
    }
}

%hero {
    margin-top: rhythm(2.6, 16px);
    @include span(12 of 12 no-gutters);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18 no-gutters);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24 no-gutters);
    }
}

%content {
    margin-top: rhythm(1, 16px);
    @include span(12 of 12 no-gutters);
    @include pad(1 of 12 no-gutters);
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(18 of 18 no-gutters);
        @include pad(1 of 18 no-gutters);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24 of 24 no-gutters);
        @include pad(3 of 24 no-gutters);
    }
}

@mixin lob-owl {
    > * + * {
        margin-top: rhythm(1, 16px);
    }
}

%buttons {
    @include span(10 of 12 no-gutters);
    margin: rhythm(1, 15px) span(1 of 12) 0;
    text-align: center;
    text-decoration: none;
    padding: rhythm(.5, 16px) 0;
    border: .1em solid $text-base;
    border-radius: .35em;
    @include background-image(linear-gradient(lighten-new($green-base-light, 20%), lighten-new($green-base-dark, 20%)));
    @include box-shadow(rgba($background, .3) 1px 1px 0 0 inset);
    color: $background;
}